/* = Allgemeine Styles = */
/* - gesamte Dokument - */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
 scroll-behavior: smooth;
 font-size: 1.5rem;
}

/* - allgemein für Tags - */

section, form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1{
  font-size: 4rem;
  margin: 20px;
}

h1, h2, h3, p{  
  text-align: center;
  margin: 5px;
}

/*  */

button{
  padding: 15px 25px;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: rgb(6, 121, 144);
  margin: 10px;
  font-size: 1.2rem;
}

button:hover{
  background-color: teal;
}

/* = im HTML vorhandene IDs = */

#start-screen{
  margin: 5%;
  min-width: 90%;
  min-height: 90%;
  background-color: lightgoldenrodyellow;
  padding: 25px;
  border-radius: 15px;
}

#form{
  background-color: beige; 
}

#userInput{
  width: 60%;
  height: 40px;
}

/* #language{} */

#difficulty{
  padding: 15px 30px;
  text-align: center;
  font-size: 1.1rem;
  border-radius: 10px;
  border: none;
  margin: 10px;
}

#startBtn{
  padding: 25px 50px;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: rgb(6, 121, 144);
  font-size: 1.1rem;
}

/* = Output divs = */

#client-info{  
  margin: 10px 5%;
  width: 90%;
  height: 90%;
  padding: 20px;
  background-color: rgb(210, 244, 250);
  border-radius: 15px;}

#question-div{
  margin: 10px 5%;
  width: 90%;
  height: 90%;
  padding: 20px;
  background-color: rgb(210, 244, 250);
  border-radius: 15px;
}

#answers-div{
  display: grid;

  margin: 10px 5%;
  min-width: 90%;
  min-height: 90%;
  padding: 20px;
  background-color: rgb(210, 244, 250);
  border-radius: 15px;
}

/* = Created Elements from TS = */
/* - Für die Userinfos - */

/* #username{}

#points{}

#rounds{}

#restartBtn{} */

/* - Für die Fragen - */

/* .question{} */

.next-question{
  background-color: gray;
}
